---
import Icon from "./Icon.astro"
---
<div id="side" class="col-span-4 sm:col-span-3 bg-primario shadow-lg">
    <div class="rounded-lg p-6">
        <div class="flex flex-col items-center">
            <img src="" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0" alt="Foto de perfil" loading="lazy"/>
            <h1 class="text-xl font-bold text-center text-titulos">Jorge Luis <br /> Leiva Villalba</h1>
            <p class=" text-white">Software</p>
            <div class="mt-6 flex flex-wrap gap-4 justify-center">
                <a href="#" class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">Contacto</a>
                <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">CV</a>
            </div>
        </div>
        <hr class="my-6  border-grisclaro" />
        <div class="flex flex-col gap-4 w-60 mx-auto justify-center">
          <a
            href="https://github.com/JorgeLeivaVillalba"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 text-grisclaro hover:text-titulos transition-colors duration-300"
            aria-label="Abrir GitHub de Jorge Leiva Villalba"
            title="GitHub: /JorgeLeivaVillalba"
          >
            <Icon icon="github" size="2rem" label="GitHub" />
            <span class="text-base">/JorgeLeivaVillalba</span>
          </a>
          <a
            href="https://facebook.com/JorgeLeivaVillalba"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 text-grisclaro hover:text-titulos transition-colors duration-300"
            aria-label="Facebook de Jorge Leiva Villalba"
            title="Facebook"
          >
            <Icon icon="facebook" size="2rem" label="Facebook" />
            <span class="text-base">/JorgeLeivaVillalba</span>
          </a>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 text-grisclaro hover:text-titulos transition-colors duration-300"
            aria-label="Whatsapp de Jorge Leiva Villalba"
            title="GitHub: /JorgeLeivaVillalba"
          >
            <Icon icon="whatsapp" size="2rem" label="WhatsApp" />
            <span class="text-base">/JorgeLeivaVillalba</span>
          </a>
          <a
            href="https://github.com/JorgeLeivaVillalba"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 text-grisclaro hover:text-titulos transition-colors duration-300"
            aria-label="Email de Jorge Leiva Villalba"
            title="Email"
          >
            <Icon icon="email" size="2rem" label="Email" />
            <span class="text-base">jorgeleiva.994@gmail.com</span>
          </a>
        </div>
    </div>
</div>
