---
---
<div id="side" class="col-span-4 sm:col-span-3 bg-primario shadow-lg">
    <div class="rounded-lg p-6">
        <div class="flex flex-col items-center">
            <img src="" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0" />
            <h1 class="text-xl font-bold text-center text-titulos">Jorge Luis <br /> Leiva Villalba</h1>
            <p class=" text-white">Software</p>
            <div class="mt-6 flex flex-wrap gap-4 justify-center">
                <a href="#" class="bg-gray-600 hover:bg-gray-800 text-white py-2 px-4 rounded">Contacto</a>
                <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">CV</a>
            </div>
        </div>
        <hr class="my-6 border-t border-gray-300" />
    </div>
</div>
