---
const timelineV = [
  {
    titulo: "Flowbite Figma v1.3.0",
    fecha: "December 7th, 2021",
    descripcion: "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project."
  },
  {
    titulo: "Flowbite Library v1.2.2",
    fecha: "December 2nd, 2021",
    descripcion: "Get started with dozens of web components and interactive elements built on top of Tailwind CSS."
  }
];
---
<div>
    <span class="uppercase font-bold tracking-wider text-primario mb-2">Experiencia</span>
    <ol class="relative border-s border-gray-200 dark:border-gray-700 mt-2">
    {timelineV.map((item) => (
        <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-secundario rounded-full -start-3 ring-8 ring-white">
            <svg class="w-2.5 h-2.5 text-primario" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-primario">{item.titulo}</h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{item.fecha}</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">{item.descripcion}</p>
        </li>
    ))}
    </ol>
</div>

